<header>
    <nav>
        <h1 id="nombre">CERTUS</h1>
        <ul>
            <li><a href="#">Características</a></li>
            <li><a href="#">Soporte para</a></li>
            <li><a href="#">empresas</a></li>
            <li><a href="#">Precios</a></li>
            <li><button id="btnInscribirse">Inscribirse</button></li>
        </ul>
        
    </nav>
</header>
<div id="titulo">
    <p>Precio</p>
</div>
<div id="subtitulo">
    <p>Adquiere uno de nuestros planes en promoción</p>
</div>

    
  
